.full-body{
    width:100%;
    font-family: "Quicksand", Arial, sans-serif;
}
.sidebar{
    width:20%;
    float:left;
    background-color:#F2F3F7;
    text-align: center;
    overflow: auto;
    height: 600px;
    padding-top: 5%;
    padding-bottom: 5%;
    position:fixed;
    margin-left: 5%;
}
.main{
    width:69%;
    float:right;
    margin-right: 5%;
    background-color: #FCFCFC;
}
.profile{
    width:150px;
    height:150px;
    border-radius: 50%;
}
.nav-links{
    list-style-type: none;
    line-height: 35px;
    font-size: smaller;
    padding: 0;
    margin: 0;

}
.home{
    background-image: url(./assets/homebg1.jpg);
    background-size: 100% 700px;
    background-repeat: no-repeat;
}
.hometext{
    padding-top:15%;
    padding-bottom: 15%;
    padding-left:5%;
    padding-right: 30%;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
}
.abouttext{
    padding:5%;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
}
.aservices{
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 5%;
}
.box1{
    width: 150px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    color: #2C98F0;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #2C98F0;
}
.box2{
    width: 150px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    color: #EC5453;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #EC5453;
}
.box3{
    width: 150px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    color: #F9BF3F;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #F9BF3F;
}
.box4{
    width: 150px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    color: #A84CB8;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #A84CB8;
}
.hireme{
    padding:5%;
}
.hiremetext{
    padding:5%;
    background-color: #F9BF3F;
}