.full-body{
    width:100%;
    font-family: "Quicksand", Arial, sans-serif;
}
.sidebar{
    width:20%;
    float:left;
    background-color:#F2F3F7;
    text-align: center;
    overflow: auto;
    height: 600px;
    padding-top: 2%;
    padding-bottom: 5%;
    position:fixed;
    margin-left: 5%;
    font-size: 13px;
    color: #6C757D;
    font-family: Quicksand , Arial , sans-serif;
}
.sidebar h3{
    font-family: "Playfair Display" , Georgia , serif;
    font-size: 22px;
    font-weight:700;
    color:black;
}
.sidebar h5{
    font-size: 12px;
    color: #6C757D;
    font-family: Quicksand , Arial , sans-serif;
}

.sidebar a{
    color: #6C757D;
    text-decoration: none;
    transition: color 0.3s;
    font-stretch:extra-expanded;
}

.sidebar a:hover{
    color:#2C98F0;
    text-decoration: underline;
}


.main{
    width:69%;
    float:right;
    margin-right: 5%;
    background-color: #FCFCFC;
    font-family: Quicksand , Arial , sans-serif;
}

.starttext{

    font-family: Quicksand, Arial, sans-serif;
    text-decoration: none solid rgb(153, 153, 153);
    color: RGB(153, 153, 153);
    font-size:14px;

}

h1{
    font-family: "Playfair Display", Georgia, serif;
    font-size: 18px;
    font-weight:600;
    color:black;
}
.profile{
    width:150px;
    height:150px;
    border-radius: 50%;
}
.nav-links{
    list-style-type: none;
    line-height: 35px;
    font-size: smaller;
    padding: 0;
    margin: 0;

}
.home{
    background-image: url(./assets/homebg2.jpg);
    background-size: 100% 700px;
    background-repeat: no-repeat;
}
.hometext{
    padding-top:15%;
    padding-bottom: 15%;
    padding-left:5%;
    padding-right: 30%;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
}
.hometext h1{
    font-family: "Playfair Display", Georgia, serif;
    font-size: 60px;
}

.hometext .btn-learn{
    color: #000;
    border: 1px solid #000;
    background: transparent !important;
    padding:2%;
}

.abouttext{
    padding:5%;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
}

.hiremetext .btn-learn{
    color: #000;
    border: 1px solid #000;
    background: transparent !important;
    padding-left:5%;
    padding-right:5%;
}

.aservices{
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 5%;
}
.box1{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    text-align: center;
    color: #2C98F0;
    padding:7%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #2C98F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box1 i{
    font-size: 35px;
}
.box2{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    text-align: center;
    color: #EC5453;
    padding:7%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #EC5453;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box2 i{
    font-size: 35px;
}
.box3{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    text-align: center;
    color: #F9BF3F;
    padding:7%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #F9BF3F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box3 i{
    font-size: 35px;
}
.box4{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    text-align: center;
    color: #A84CB8;
    padding:7%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #A84CB8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box4 i{
    font-size: 35px;
}
.hireme{
    padding:5%;
}
.hiremetext{
    padding:5%;
    background-color: #F9BF3F;
    color:black;
    font-family: "Playfair Display",Georgia,serif;

}
.hiremetext .btn-learn{
    color: #000;
    border: 1px solid #000;
    background: transparent !important;
    padding-left:5%;
    padding-right:5%;
}
.servicestext{
    padding:5%;
}
.servicebox1{
    height: auto;
    background-color: #ffffff;
    text-align: center;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #2C98F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.servicebox1 i{
    font-size: 40px;
    background-color: #2C98F0;
    padding:6%;
    color:#ffffff;
}
.servicebox2{
    height: auto;
    background-color: #ffffff;
    text-align: center;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #EC5453;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.servicebox2 i{
    font-size: 40px;
    background-color: #EC5453;
    padding:6%;
    color:#ffffff;
}
.servicebox3{
    height: auto;
    background-color: #ffffff;
    text-align: center;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #F9BF3F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.servicebox3 i{
    font-size: 40px;
    background-color: #F9BF3F;
    padding:6%;
    color:#ffffff;
}
.servicebox4{
    height: auto;
    background-color: #ffffff;
    text-align: center;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #A84CB8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.servicebox4 i{
    font-size: 40px;
    background-color: #A84CB8;
    padding:6%;
    color:#ffffff;
}
.servicebox5{
    height: auto;
    background-color: #ffffff;
    text-align: center;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #2FA499;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.servicebox5 i{
    font-size: 40px;
    background-color: #2FA499;
    padding:6%;
    color:#ffffff;
}
.servicebox6{
    height: auto;
    background-color: #ffffff;
    text-align: center;
    padding:5%;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #4054B2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.servicebox6 i{
    font-size: 40px;
    background-color: #4054B2;
    padding:6%;
    color:#ffffff;
}
.container{
    padding:2%;
}
.project{
    background-image: url(./assets/coverbg1.jpg);
    background-size: cover;
    background-blend-mode: darken;
    color:#ffffff;
    background-attachment: fixed;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
}
.overlay{
    padding:5%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.skillstext{
    padding: 5%;
}
.progress-wrap{
    padding:5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.progress-bar.color-1{
    background:#2c98f0;
}
.progress-bar.color-2{
    background:#EC5453;
}
.progress-bar.color-3{
    background:#F9BF3F;
}
.progress-bar.color-4{
    background:#A84CB8;
}
.progress-bar.color-5{
    background:#2FA499;
}
.progress-bar.color-6{
    background:#4054B2;
}

.educationtext{
    padding: 5%;
}

.accordion {
    width: 100%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
}


.active .accordion-lable-1:hover {
    background-color: #ccc;
}
.accordion-checkbox-1 {
    display: none;
    
}
.accordion-label-1 {
    display: block;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
}
.accordion-content-1 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    padding: 0 15px;
}
.accordion-checkbox-1:checked ~ .accordion-content-1 {
    max-height: 150px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:5%;
}
.accordion-checkbox-1:checked ~ .accordion-label-1 {
    background-color: #2C98F0;
    color:#ffffff;
}



.active .accordion-lable-2:hover {
    background-color: #ccc;
}
.accordion-checkbox-2 {
    display: none;
}
.accordion-label-2 {
    display: block;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
}
.accordion-content-2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    padding: 0 15px;
}
.accordion-checkbox-2:checked ~ .accordion-content-2 {
    max-height: 150px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:5%;
}
.accordion-checkbox-2:checked ~ .accordion-label-2 {
    background-color: #2C98F0;
    color:#ffffff;
}



.active .accordion-lable-3:hover {
    background-color: #ccc;
}
.accordion-checkbox-3 {
    display: none;
}
.accordion-label-3 {
    display: block;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
}
.accordion-content-3 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    padding: 0 15px;
}
.accordion-checkbox-3:checked ~ .accordion-content-3 {
    max-height: 150px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:5%;
}
.accordion-checkbox-3:checked ~ .accordion-label-3 {
    background-color: #2C98F0;
    color:#ffffff;
}



.active .accordion-lable-4:hover {
    background-color: #ccc;
}
.accordion-checkbox-4 {
    display: none;
}
.accordion-label-4 {
    display: block;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
}
.accordion-content-4 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    padding: 0 15px;
}
.accordion-checkbox-4:checked ~ .accordion-content-4 {
    max-height: 150px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:5%;
}
.accordion-checkbox-4:checked ~ .accordion-label-4 {
    background-color: #2C98F0;
    color:#ffffff;
}



.active .accordion-lable-5:hover {
    background-color: #ccc;
}
.accordion-checkbox-5 {
    display: none;
}
.accordion-label-5 {
    display: block;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
}
.accordion-content-5 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.accordion-checkbox-5:checked ~ .accordion-content-5 {
    max-height: 500px;
}
.accordion-checkbox-5:checked ~ .accordion-label-5 {
    background-color: #2C98F0;
    color:#ffffff;
}
.experiencetext{
    padding: 5%;
}
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
}
.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 14px;
    width: 2px;
    height: 100%;
    background-color: #333;
}

.timeline-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #EC5453;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff;
    align-items: center;
}

.timeline-content {
    padding: 20px;
    background-color: #F2F3F7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
    margin-top: 0;
    color: #007bff;
}

.timeline-content .date {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #777;
}

#E1{
    background-color: #2C98F0;
}
#E2{
    background-color: #EC5453;
}
#E3{
    background-color: #F9BF3F;
}
#E4{
    background-color: #A84CB8;
}
#E5{
    background-color: #2FA499;
}

.worktext{
    padding: 5%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    max-width: 1200px; 
    width: 100%;
}

.image-container {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2C98F0;
    opacity: 0;
    display: flex;
    transition: opacity 0.3s ease;
}

.overlay .caption {
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
    max-width: 80%;
}

.image-container:hover .overlay {
    opacity: 1;
}


.btn-load-more {
    width: 100%;
}

.btn-primary {
    background: #2c98f0;
    color: #fff;
    border: 2px solid #2c98f0;
}


.blogtext{
    padding: 5%;
}


.blogtext .container {
    display: flex;
    column-gap: 3%;
    flex-wrap: wrap; 
    width:auto;
}

.blogtext .container .column {
    background-color: #f9f9f9;
    border-radius: 4px;
    width: 30%;
    margin-bottom: 20px;
}

.blogtext .container .column img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.blogtext .container .column h2 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .column {
        width: 100%;
    }
}

.contacttext{
    padding: 5%;
}

.contacttext i{
    padding:20%;
    font-size: 40px;
    color:#2C98F0;
    background-color: #F2F3F7;
}

.contacttext h5{
    padding-top: 7%;
}

.contacttext .row .col-md-6 .row{
    margin-bottom: 5%;
}


